<%- model_class = Gateway -%>
<div class="page-header">
  <h1><!--<%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => Gateway %>-->Novo Gateway</h1>
</div>
<%= render :partial => 'form' %>

