#resize-table-changes td {
  padding: 6px;
}

#resize-table-changes th {
  padding: 6px;
}

#resize-table-changes {
  width: 900px
}

.plan-size {
  width: 55px
}

.mode-size {
  width: 115px
}

.week-control {
  width: 260px
}
