// Place all the styles related to the Landings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body, section, div.wrapper, div.content-wrapper, #map-canvas {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

div.wrapper section {
  max-width: 100% !important;
  padding-left: 0 !important;
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
}
