<!-- START Top Navbar-->
<nav role="navigation" class="navbar topnavbar">
   <!-- START navbar header-->
   <div class="navbar-header">
      <a href="/" class="navbar-brand">
         <div class="brand-logo">
            <img src="<%= image_path('angle/StarlightLED2.png') %>" width="100" height="35" alt="App Logo" class="img-responsive shadowed" />
         </div>
         <div class="brand-logo-collapsed">
            <img src="<%= image_path('angle/StarlightLED2.png') %>" width="100" height="35" alt="App Logo" class="img-responsive shadowed" />
         </div>
      </a>
   </div>
   <!-- END navbar header-->
   <!-- START Nav wrapper-->
   <div class="nav-wrapper">
      <!-- START Left navbar-->
      <ul class="nav navbar-nav">
         <li>
            <!-- Button used to collapse the left sidebar. Only visible on tablet and desktops-->
            <a href="#" data-toggle-state="aside-collapsed" class="hidden-xs">
               <em class="fa fa-navicon"></em>
            </a>
            <!-- Button to show/hide the sidebar on mobile. Visible on mobile only.-->
            <a href="#" data-toggle-state="aside-toggled" data-no-persist="true" class="visible-xs sidebar-toggle">
               <em class="fa fa-navicon"></em>
            </a>
         </li>
         <!-- START User avatar toggle-->
         <li>
            <!-- Button used to collapse the left sidebar. Only visible on tablet and desktops-->
            <% if current_user %>
              <a id="user-block-toggle" href="#user-block" data-toggle="collapse">
                <em class="icon-user"></em>
              </a>
              <% else %>
              <a href="/login" >
                <em class="icon-lock"> Login</em>
              </a>
            <% end %>
         </li>
         <!-- END User avatar toggle-->
      </ul>
      <!-- END Left navbar-->
      <!-- START Right Navbar-->
      <ul class="nav navbar-nav navbar-right">
      <!--    <!&#45;&#45; Search icon&#45;&#45;> -->
      <!--    <li> -->
      <!--       <a href="#" data&#45;search&#45;open=""> -->
      <!--          <em class="icon&#45;magnifier"></em> -->
      <!--       </a> -->
      <!--    </li> -->
         <!-- Fullscreen (only desktops)-->
         <li class="visible-lg">
            <a href="#" data-toggle-fullscreen="">
               <em class="fa fa-expand"></em>
            </a>
         </li>
      <!--    <!&#45;&#45; START Alert menu&#45;&#45;> -->
      <!--    <li class="dropdown dropdown&#45;list"> -->
      <!--       <a href="#" data&#45;toggle="dropdown"> -->
      <!--          <em class="icon&#45;bell"></em> -->
      <!--          <!&#45;&#45; <div class="label label&#38;#45;danger">11</div> &#45;&#45;> -->
      <!--       </a> -->
      <!--       <!&#45;&#45; START Dropdown menu&#45;&#45;> -->
      <!--       <ul class="dropdown&#45;menu animated flipInX"> -->
      <!--          <li> -->
      <!--             <!&#45;&#45; START list group&#45;&#45;> -->
      <!--             <div class="list&#45;group"> -->
      <!--                <!&#45;&#45; list item&#45;&#45;> -->
      <!--                <a href="#" class="list&#45;group&#45;item"> -->
      <!--                   <div class="media&#45;box"> -->
      <!--                      <div class="pull&#45;left"> -->
      <!--                         <em class="fa fa&#45;twitter fa&#45;2x text&#45;info"></em> -->
      <!--                      </div> -->
      <!--                      <div class="media&#45;box&#45;body clearfix"> -->
      <!--                         <p class="m0">New followers</p> -->
      <!--                         <p class="m0 text&#45;muted"> -->
      <!--                            <small>1 new follower</small> -->
      <!--                         </p> -->
      <!--                      </div> -->
      <!--                   </div> -->
      <!--                </a> -->
      <!--                <!&#45;&#45; list item&#45;&#45;> -->
      <!--                <a href="#" class="list&#45;group&#45;item"> -->
      <!--                   <div class="media&#45;box"> -->
      <!--                      <div class="pull&#45;left"> -->
      <!--                         <em class="fa fa&#45;envelope fa&#45;2x text&#45;warning"></em> -->
      <!--                      </div> -->
      <!--                      <div class="media&#45;box&#45;body clearfix"> -->
      <!--                         <p class="m0">New e&#45;mails</p> -->
      <!--                         <p class="m0 text&#45;muted"> -->
      <!--                            <small>You have 10 new emails</small> -->
      <!--                         </p> -->
      <!--                      </div> -->
      <!--                   </div> -->
      <!--                </a> -->
      <!--                <!&#45;&#45; list item&#45;&#45;> -->
      <!--                <a href="#" class="list&#45;group&#45;item"> -->
      <!--                   <div class="media&#45;box"> -->
      <!--                      <div class="pull&#45;left"> -->
      <!--                         <em class="fa fa&#45;tasks fa&#45;2x text&#45;success"></em> -->
      <!--                      </div> -->
      <!--                      <div class="media&#45;box&#45;body clearfix"> -->
      <!--                         <p class="m0">Pending Tasks</p> -->
      <!--                         <p class="m0 text&#45;muted"> -->
      <!--                            <small>11 pending task</small> -->
      <!--                         </p> -->
      <!--                      </div> -->
      <!--                   </div> -->
      <!--                </a> -->
      <!--                <!&#45;&#45; last list item &#45;&#45;> -->
      <!--                <a href="#" class="list&#45;group&#45;item"> -->
      <!--                   <small>More notifications</small> -->
      <!--                   <span class="label label&#45;danger pull&#45;right">14</span> -->
      <!--                </a> -->
      <!--             </div> -->
      <!--             <!&#45;&#45; END list group&#45;&#45;> -->
      <!--          </li> -->
      <!--       </ul> -->
      <!--       <!&#45;&#45; END Dropdown menu&#45;&#45;> -->
      <!--    </li> -->
      <!--    <!&#45;&#45; END Alert menu&#45;&#45;> -->
      <!--    <!&#45;&#45; START Contacts button&#45;&#45;> -->
      <!--    <li> -->
      <!--       <a href="#" data&#45;toggle&#45;state="offsidebar&#45;open" data&#45;no&#45;persist="true"> -->
      <!--          <em class="icon&#45;notebook"></em> -->
      <!--       </a> -->
      <!--    </li> -->
      <!--    <!&#45;&#45; END Contacts menu&#45;&#45;> -->
      </ul>
      <!-- END Right Navbar-->
   </div>
   <!-- END Nav wrapper-->
   <!-- START Search form-->
   <form role="search" action="search.html" class="navbar-form">
      <div class="form-group has-feedback">
         <input type="text" placeholder="Type and hit enter ..." class="form-control" />
         <div data-search-dismiss="" class="fa fa-times form-control-feedback"></div>
      </div>
      <button type="submit" class="hidden btn btn-default">Submit</button>
   </form>
   <!-- END Search form-->
</nav>
<!-- END Top Navbar-->
