<div class="form-group col-xs-6 col-xs-offset-3">
  <h1>Editar Comando</h1>
</div>

<%= render 'form' %>

<div class="form-group col-xs-6 col-xs-offset-3">
  <hr />
  <%= link_to 'Voltar', commands_path, class: 'btn btn-default btn-lg' %>
  <%= link_to 'Visualizar', @command, class: 'btn btn-info btn-lg' %>
</div>
