<p id="notice"><%= notice %></p>

<h1><%= @command.content %></h1>

<p>
  <strong>Conteudo:</strong>
  <pre>
    <%= @command.content %>
  </pre>
</p>

<%= link_to 'Editar', edit_command_path(@command), class: 'btn btn-warning btn-lg' %>
