<%= simple_form_for(@firmware) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.file_field :file %>
  </div>
  <br>
  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-lg btn-primary' %>
  </div>
<% end %>
